html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Fade-Out Effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/* Fade-In Effect */
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#pickingSidesContainer {
  justify-content: center;
    user-select: none;
}

#sides{
  display: flex;
  justify-content: center;
}

#header{
  font-size: 50px;
  margin-bottom: 30px;
}

#sideX,
#sideO {
  font-size: 90px;
  cursor:pointer;
}


#sideX{
  margin-right: 60px;
}

.side:hover {
  color: white;
}


#numpadContainer {
  display: flex;
  justify-content: center;
  height: max-content;
}

#wholeNumpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#firstRow,
#secondRow,
#thirdRow {
  display: flex;
  justify-content: center;
  border-left: 10px solid #e0e0e0;
  border-right: 10px solid #e0e0e0;
  background-color: #e0e0e0;
}

#firstRow {
  border-top: 10px solid #e0e0e0;
 }


 #thirdRow {
  border-bottom: 10px solid #e0e0e0;
 }

 .gameBox {
  background-color: white;
  width: 125px;
  height: 125px;
  border: 5px double #e0e0e0;
  border-radius: 10px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  user-select: none;
}

.gameBox:hover {
  background-color: #efefef;
}

.gameBox:active {
  background-color: #e0e0e0;
  color:#5a5a5a

}